# Pandas 动手学入门
本课程基于[DataWhale开源教程《Joyful-Pandas》](http://joyfulpandas.datawhale.club/index.html)与[开源项目 ajcr/100-pandas-puzzles](https://github.com/ajcr/100-pandas-puzzles)其[中译版](https://github.com/VXenomac/100-pandas-puzzles-cn)开发. 在数据分析的实践中，Pandas是一个非常重要的库，它集成了非常多的统计分析功能，[《Joyful-Pandas》](http://joyfulpandas.datawhale.club/index.html)是一份非常详尽，并且适合新手的Pandas中文教程，同时它也是Pandas官方认证的中文教程！但笔者学习过程中，始终觉得编程学习“纸上得来终觉浅”，对于刚接触一个新的库的“躬行”笔者认为最好的方式就是对照着官方文档以及QuickStart吧例子自己尝试一遍，并且在实践中学会如何查文档，这是一个开发者必备的技能.因此本教程就是基于这样的思想，给出对应的操作以及对应的文档地址，学习者需要自行查阅文档，完成下面的实践.

## 餐前准备
在这部分中，我们主要学习如何导入Pandas以及查看版本信息，难度是比较简单的.
> 请你阅读Joyful-Pandas第二章，完成下方练习.
http://joyfulpandas.datawhale.club/Content/ch2.html

**1.** 以 `pd` 别名导入 pandas 库

**2.** 打印出pandas 库的版本信息

**3.** 打印 pandas 依赖包及其版本信息

## 备齐食材
在这部分中，主要介绍了Pandas一个重要的数据结构```DataFrame```

> 请你阅读Joyful-Pandas第二章，完成下方练习.
http://joyfulpandas.datawhale.club/Content/ch2.html

In [2]:
import numpy as np

有下面这样的一个数据字典 `data` 以及列表格式的标签数据 `labels`:

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**4.** 使用数据 `data` 和行索引 `labels` 创建一个 DataFrame `df`

**5.** 显示该 DataFrame 及其数据相关的基本信息（*提示：DataFrame 直接调用的方法*）

**6.** 返回 DataFrame `df` 的前4行数据

**7.** 从 DataFrame `df` 选择标签为 `animal` 和 `age` 的列

**8.** 在 `[3, 4, 8]` 行中，列为 `['animal', 'age']` 的数据

**9.** 选择列```visits``` 大于 3 的行

**10.** 选择 `age` 为缺失值的行

**11.** 选择 `animal` 是cat且`age` 小于 3 的行

**12.** 选择 `age` 在 2 到 4 之间的数据（包含边界值）

**13.** 将 'f' 行的 `age` 改为 1.5

**14.** 对 `visits` 列的数据求和

**15.** 计算每种 `animal` `age` 的平均值

**16.** 新增一行数据 k，数据自定义，然后再删除新追加的 k 行

**17.** 统计每种 `animal` 的个数

**18.** 先根据 `age` 降序排列，再根据 `visits` 升序排列（结果 `i` 列在前面，`d` 列在最后面）

**19.** 将 `priority` 列的 `yes` 和 `no` 用 `True` 和 `False` 替换

**20.** 将 `animal` 列的 `snake` 用 `python` 替换

**21.** 对于每种 `animal` 和 `visit`，求出平均年龄。换句话说，每一行都是动物，每一列都是访问次数，其值是平均年龄（提示：使用数据透视表）

**22.** 读取`data`文件夹下的`boston.csv`文件，并尝试利用上面的方法自行分析，得出一些简单的结论.

至此，相信你已经可以通过阅读文档，掌握了pandas中`DataFrame`的一些基本操作，下面我们来讲点更进一步的操作，她是上述这些操作的一些巧妙结合

In [9]:
## 食材搭配
在这个部分中，我们主要介绍

SyntaxError: invalid character in identifier (Temp/ipykernel_13684/1980966956.py, line 2)